.recentNews {
    background-color: #ADD8E6;
    font-family: system-ui;
    padding: 30px;/* Add padding to the recentNews section */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.recentNews .news-title {
    text-align: center;
    font-size: 40px;
    color: #000;
}

.recentNews .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ct-blog {
    flex: 0 0 calc(33.3333% - 20px); /* Set the width to one-third of the container with a little margin */
    margin-bottom: 20px; /* Add margin to separate the boxes */
}
